@model APP.Areas.Affectation.Models.AllViewsModel
@using DAL;
@using System.Diagnostics

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Ajouter un véhicules</h2>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @using (Html.BeginForm("Ajouter", "Vehicules", new { area = "Affectation" }, FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "form" }))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" id="IdVehicule" name="IdVehicule" placeholder="ID" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Type de Véhicule</label>
                                        <div class="col-xs-5">
                                            <select name="IdType" class="form-control">
                                                @{
                                                    foreach (var type in Model.typeVehicule)
                                                    {
                                                        if (Model.VehiculeM != null)
                                                        {
                                                            if (type.IdType == Model.VehiculeM.IdType)
                                                            {
                                                                <option selected value="@type.IdType">@type.LibelleType</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@type.IdType">@type.LibelleType</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@type.IdType">@type.LibelleType</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/TypeVehicules/Index">
                                                <i class="fa fa-plus-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Marque de Véhicule</label>
                                        <div class="col-xs-5">
                                            <select name="IdMarque" class="form-control">
                                                @{
                                                    foreach (var type in Model.marqueVehicule)
                                                    {
                                                        if (Model.VehiculeM != null)
                                                        {
                                                            if (type.IdMarque == Model.VehiculeM.IdMarque)
                                                            {
                                                                <option selected value="@type.IdMarque">@type.LibelleMarque</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@type.IdMarque">@type.LibelleMarque</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@type.IdMarque">@type.LibelleMarque</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/MarqueVehicules/Index">
                                                <i class="fa fa-plus-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Modèle</label>
                                        <div class="col-xs-7">
                                            <input type="text" id="NomVehicule" name="NomVehicule" value="@Model.VehiculeM.NomVehicule" placeholder="Dénomination" class="form-control">
                                            @Html.ValidationMessage("NomVehicule", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Numéro du châssis</label>
                                        <div class="col-xs-7">
                                            <input type="text" id="NumChassis" name="NumChassis" value="@Model.VehiculeM.NumChassis" placeholder="Numéro du châssis" class="form-control">
                                            @Html.ValidationMessage("NumChassis", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Immatriculation</label>
                                        <div class="col-xs-7">
                                            <input type="text" id="Immatriculation" name="Immatriculation" value="@Model.VehiculeM.Immatriculation" placeholder="Immatriculation" class="form-control">
                                            @Html.ValidationMessage("Immatriculation", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Fournisseur</label>
                                        <div class="col-xs-5">
                                            <select name="IdFournisseur" class="form-control">
                                                @{
                                                    foreach (var type in Model.fournisseur)
                                                    {
                                                        if (Model.VehiculeM != null)
                                                        {
                                                            if (type.IdFournisseur == Model.VehiculeM.IdFournisseur)
                                                            {
                                                                <option selected value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/Fournisseurs/Index">
                                                <i class="fa fa-plus-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Date d'acquisition</label>
                                        <div class="col-xs-7">
                                            <input type="date" class="form-control" name="DateAcquisition" value="@Convert.ToDateTime(Model.VehiculeM.DateAcquisition).ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Expiration de la garantie</label>
                                        <div class="col-xs-7">
                                            <input type="date" class="form-control" name="DateExpireGarantie" value="@Convert.ToDateTime(Model.VehiculeM.DateExpireGarantie).ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-xs-5 control-label">Assurance</label>
                                        <div class="col-xs-5">
                                            <select name="IdAssurance" class="form-control">
                                                @{
                                                    foreach (var type in Model.assurance)
                                                    {
                                                        <option value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/Assurances/Index">
                                                <i class="fa fa-plus-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Début de couverture</label>
                                        <div class="col-xs-7">
                                            <input type="date" class="form-control" name="DataDebutCouverture" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Fin de couverture</label>
                                        <div class="col-xs-7">
                                            <input type="date" class="form-control" name="DataFinCouverture" value="">
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-xs-5 control-label">Type de carburant</label>
                                        <div class="col-xs-5">
                                            <select name="IdTypeCarb" class="form-control">
                                                @{
                                                    foreach (var type in Model.typeCarburant)
                                                    {
                                                        if (Model.VehiculeM != null)
                                                        {
                                                            if (type.IdTypeCarb == Model.VehiculeM.IdTypeCarb)
                                                            {
                                                                <option selected value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/TypeCarburants/Index">
                                                <i class="fa fa-plus-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                    @if (ViewData["Compare"] != null)
                                    {
                                        <div class="pull-right">
                                            <div class="alert alert-danger alert-dismissable">
                                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                @ViewData["Compare"]
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <button class="btn btn-white" type="reset">Annuler </button>
                                    <button class="btn btn-primary" type="submit">Ajouter </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a class="btn btn-primary btn-sm pull-right" href="@Url.Action("ExportListV", "Vehicules")" target="_blank">
                            Imprimer
                        </a>
                        <h2>Liste des véhicules</h2>
                    </div>
                    <div class="ibox-content">
                        <div class="col-lg-6">
                            <a class="btn btn-block btn-outline btn-primary" href="/Affectation/DetailAssurance/Index">
                               Assurer un véhicule
                            </a>
                        </div>
                        <div class="col-lg-offset-2 col-lg-4">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Rechercher">
                        </div>
                        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("ID")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Modèle")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Immatriculation")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Fournisseur")
                                    </th>
                                    <th>Statut</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Vehicule.OrderByDescending(x => x.IdVehicule))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdVehicule)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MarqueVehicule.LibelleMarque) @Html.DisplayFor(modelItem => item.NomVehicule)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Immatriculation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fournisseur.LibelleFournisseur)
                                        </td>
                                        <td>
                                            @{
                                                if (item.EnMission == true)
                                                {
                                                    <span class="label label-primary">En mission</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-info">Libre</span>
                                                }
                                            }
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button class="btn btn-white btn-xs" data-toggle="modal" data-target="#e-@Html.DisplayFor(modelItem => item.IdVehicule)">
                                                    Modifier
                                                </button>
                                                <button class="btn btn-white btn-xs" data-toggle="modal" data-target="#dl-@Html.DisplayFor(modelItem => item.IdVehicule)">
                                                    Détail
                                                </button>
                                                @{
                                                    if (item.EnActivite == false || item.EnActivite == null)
                                                    {
                                                        <a class="btn btn-white btn-xs" href="/Affectation/Vehicules/Etat/@item.IdVehicule">
                                                            Remise en activité
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-white btn-xs" href="/Affectation/Vehicules/Etat/@item.IdVehicule">
                                                            Mise hors activité
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Debug.Assert(Model.Vehicule != null, "Model.Vehicule != null");
    foreach (var tmp in Model.Vehicule)
    {
        <div class="modal inmodal fade" id="e-@tmp.IdVehicule" tabindex="@tmp.IdVehicule" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Modifier un véhicule</h4>
                    </div>
                    @using (Html.BeginForm("Editer", "Vehicules", new { area = "Affectation" }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" id="IdVehicule" name="IdVehicule" value="@tmp.IdVehicule" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type de Véhicule</label>
                                    <div class="col-sm-8">
                                        <select name="IdType" class="form-control">
                                            @{
                                                foreach (var type in Model.typeVehicule)
                                                {
                                                    if (type.IdType == tmp.TypeVehicule.IdType)
                                                    {
                                                        <option selected="" value="@type.IdType">@type.LibelleType</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.IdType">@type.LibelleType</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Marque de Véhicule</label>
                                    <div class="col-sm-8">
                                        <select name="IdMarque" class="form-control">
                                            @{
                                                foreach (var type in Model.marqueVehicule)
                                                {
                                                    if (type.IdMarque == tmp.MarqueVehicule.IdMarque)
                                                    {
                                                        <option selected="" value="@type.IdMarque">@type.LibelleMarque</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.IdMarque">@type.LibelleMarque</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Modèle</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="NomVehicule" name="NomVehicule" value="@tmp.NomVehicule" class="form-control">
                                        @Html.ValidationMessage("NomVehicule", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Numéro du châssis</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="NumChassis" name="NumChassis" value="@tmp.NumChassis" class="form-control">
                                        @Html.ValidationMessage("NumChassis", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Immatriculation</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="Immatriculation" name="Immatriculation" value="@tmp.Immatriculation" class="form-control">
                                        @Html.ValidationMessage("Immatriculation", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Fournisseur</label>
                                    <div class="col-sm-8">
                                        <select name="IdFournisseur" class="form-control">
                                            @{
                                                foreach (var type in Model.fournisseur)
                                                {
                                                    if (type.IdFournisseur == tmp.Fournisseur.IdFournisseur)
                                                    {
                                                        <option selected="" value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Date d'acquisition</label>
                                    <div class="col-xs-8">
                                        <input type="date" class="form-control" name="DateAcquisition" value="@Convert.ToDateTime(tmp.DateAcquisition).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Expiration de la garantie</label>
                                    <div class="col-xs-8">
                                        <input type="date" class="form-control" name="DateExpireGarantie" value="@Convert.ToDateTime(tmp.DateExpireGarantie).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-sm-4 control-label">Assurance</label>
                                    <div class="col-sm-8">
                                        <select name="IdAssurance" class="form-control">
                                            @{
                                                foreach (var type in Model.assurance)
                                                {
                                                    if (type.IdAssurance == tmp.Assurance.IdAssurance)
                                                    {
                                                        <option selected="" value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type de carburant</label>
                                    <div class="col-sm-8">
                                        <select name="IdTypeCarb" class="form-control">
                                            @{
                                                foreach (var type in Model.typeCarburant)
                                                {
                                                    if (type.IdTypeCarb == tmp.TypeCarburant.IdTypeCarb)
                                                    {
                                                        <option selected="" value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<label class="col-sm-4 control-label">En Activité</label>*@
                                    <div class="col-sm-8">
                                        <input type="hidden" id="EnActivite" name="EnActivite" class="js-switch" checked="" value="False" />
                                        @Html.ValidationMessage("EnActivite", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary" value="Modifier">Modifier</button>
                        </div>
                                                }
                </div>
            </div>
        </div>

        <div class="modal inmodal fade" id="dl-@tmp.IdVehicule" tabindex="@tmp.IdVehicule" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Détail d'un véhicule</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/Vehicules/Editer" method="post">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" disabled="" id="IdVehicule" name="IdVehicule" value="@tmp.IdVehicule" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type de Véhicule</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdType" class="form-control">
                                            @{
                                                foreach (var type in Model.typeVehicule)
                                                {
                                                    if (type.IdType == tmp.TypeVehicule.IdType)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdType">@type.LibelleType</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdType">@type.LibelleType</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Marque de Véhicule</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdType" class="form-control">
                                            @{
                                                foreach (var type in Model.marqueVehicule)
                                                {
                                                    if (type.IdMarque == tmp.MarqueVehicule.IdMarque)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdMarque">@type.LibelleMarque</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdMarque">@type.LibelleMarque</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Dénomination</label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="NomVehicule" name="NomVehicule" value="@tmp.NomVehicule" class="form-control">
                                        @Html.ValidationMessage("NomVehicule", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Numéro du châssis</label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="NumChassis" name="NumChassis" value="@tmp.NumChassis" class="form-control">
                                        @Html.ValidationMessage("NumChassis", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Immatriculation</label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="Immatriculation" name="Immatriculation" value="@tmp.Immatriculation" class="form-control">
                                        @Html.ValidationMessage("Immatriculation", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Fournisseur</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdFournisseur" class="form-control">
                                            @{
                                                foreach (var type in Model.fournisseur)
                                                {
                                                    if (type.IdFournisseur == tmp.Fournisseur.IdFournisseur)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Date d'acquisition</label>
                                    <div class="col-xs-8">
                                        <input disabled type="date" class="form-control" name="DateAcquisition" value="@Convert.ToDateTime(tmp.DateAcquisition).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Expiration de la garantie</label>
                                    <div class="col-xs-8">
                                        <input disabled type="date" class="form-control" name="DateExpireGarantie" value="@Convert.ToDateTime(tmp.DateExpireGarantie).ToString("yyyy-MM-dd")">
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-sm-4 control-label">Assurance</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdAssurance" class="form-control">
                                            @{
                                                foreach (var type in Model.assurance)
                                                {
                                                    if (type.IdAssurance == tmp.Assurance.IdAssurance)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type de carburant</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdTypeCarb" class="form-control">
                                            @{
                                                foreach (var type in Model.typeCarburant)
                                                {
                                                    if (type.IdTypeCarb == tmp.TypeCarburant.IdTypeCarb)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<label class="col-sm-4 control-label">En Activité</label>*@
                                    <div class="col-sm-8">
                                        <input type="hidden" id="EnActivite" name="EnActivite" class="js-switch" checked="" value="False" />
                                        @Html.ValidationMessage("EnActivite", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal inmodal fade" id="de-@tmp.IdVehicule" tabindex="@tmp.IdVehicule" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Supprimer un véhicule</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal" action="/Vehicules/Editer" method="post">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" disabled="" id="IdVehicule" name="IdVehicule" value="@tmp.IdVehicule" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type de Véhicule</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdType" class="form-control">
                                            @{
                                                foreach (var type in Model.typeVehicule)
                                                {
                                                    if (type.IdType == tmp.TypeVehicule.IdType)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdType">@type.LibelleType</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdType">@type.LibelleType</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Marque de Véhicule</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdType" class="form-control">
                                            @{
                                                foreach (var type in Model.marqueVehicule)
                                                {
                                                    if (type.IdMarque == tmp.MarqueVehicule.IdMarque)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdMarque">@type.LibelleMarque</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdMarque">@type.LibelleMarque</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Dénomination</label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="NomVehicule" name="NomVehicule" value="@tmp.NomVehicule" class="form-control">
                                        @Html.ValidationMessage("NomVehicule", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Numéro du châssis</label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="NumChassis" name="NumChassis" value="@tmp.NumChassis" class="form-control">
                                        @Html.ValidationMessage("NumChassis", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Immatriculation</label>
                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="Immatriculation" name="Immatriculation" value="@tmp.Immatriculation" class="form-control">
                                        @Html.ValidationMessage("Immatriculation", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Fournisseur</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdFournisseur" class="form-control">
                                            @{
                                                foreach (var type in Model.fournisseur)
                                                {
                                                    if (type.IdFournisseur == tmp.Fournisseur.IdFournisseur)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdFournisseur">@type.LibelleFournisseur</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Date d'acquisition</label>
                                    <div class="col-xs-8">
                                        <input disabled type="date" class="form-control" name="DateAcquisition" value="@tmp.DateAcquisition">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Expiration de la garantie</label>
                                    <div class="col-xs-8">
                                        <input disabled type="date" class="form-control" name="DateExpireGarantie" value="@tmp.DateExpireGarantie">
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="col-sm-4 control-label">Assurance</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdAssurance" class="form-control">
                                            @{
                                                foreach (var type in Model.assurance)
                                                {
                                                    if (type.IdAssurance == tmp.Assurance.IdAssurance)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdAssurance">@type.LibelleAssurance</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type de carburant</label>
                                    <div class="col-sm-8">
                                        <select disabled="" name="IdTypeCarb" class="form-control">
                                            @{
                                                foreach (var type in Model.typeCarburant)
                                                {
                                                    if (type.IdTypeCarb == tmp.TypeCarburant.IdTypeCarb)
                                                    {
                                                        <option disabled="" selected="" value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                    }
                                                    else
                                                    {
                                                        <option disabled="" value="@type.IdTypeCarb">@type.LibelleTypeCarb</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<label class="col-sm-4 control-label">En Activité</label>*@
                                    <div class="col-sm-8">
                                        <input type="hidden" id="EnActivite" name="EnActivite" class="js-switch" checked="" value="False" />
                                        @Html.ValidationMessage("EnActivite", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    @using (Html.BeginForm("Delete", "Vehicules", new { id = tmp.IdVehicule }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary" value="Ajouter">Supprimer</button>
                        </div>
                    }
                </div>
            </div>
        </div>
                                                }
}



@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    @Scripts.Render("~/plugins/iCheck")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
            $('.footable2').footable();
        });
    </script>

    <script type="text/javascript">
            $(document).ready(function () {
                $("#form").validate({
                    rules: {
                        IdVehicule: {
                            required: true,
                        },
                        NomVehicule: {
                            required: true,
                        },
                        NumChassis: {
                            required: true,
                        },
                        Immatriculation: {
                            required: true,
                        },
                        DateAcquisition: {
                            required: true,
                        },
                        DateExpireGarantie: {
                            required: true,
                        },
                        DataDebutCouverture: {
                            required: true,
                        },
                        DataFinCouverture: {
                            required: true,
                        },
                        IdAssurance: {
                            required: true,
                        },
                        IdFournisseur: {
                            required: true,
                        },
                        IdTypeCarb: {
                            required: true,
                        },
                        IdType: {
                            required: true,
                        }
                    }
                });
            });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio: 1.618,
                preview: ".img-preview",
                done: function (data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function () {
                    var fileReader = new FileReader(),
                        files = this.files,
                        file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function () {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function () {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function () {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function () {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function () {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function () {
                $image.cropper("setDragMode", "crop");
            });

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#data_2 .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });

            var elem_2 = document.querySelector('.js-switch_2');
            var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

            var elem_3 = document.querySelector('.js-switch_3');
            var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });

            var elem_4 = document.querySelector('.js-switch_4');
            var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });
            switchery_4.disable();

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.demo1').colorpicker();

            var divStyle = $('.back-change')[0].style;
            $('#demo_apidemo').colorpicker({
                color: divStyle.backgroundColor
            }).on('changeColor', function (ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });

            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'DD/MM/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '31/12/2015',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });


            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });

            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });

            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });


        });


        $('.chosen-select').chosen({ width: "100%" });

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });

        $(".dial").knob();

        $("#basic_slider").noUiSlider({
            start: 40,
            behaviour: 'tap',
            connect: 'upper',
            range: {
                'min': 20,
                'max': 80
            }
        });

        $("#range_slider").noUiSlider({
            start: [40, 60],
            behaviour: 'drag',
            connect: true,
            range: {
                'min': 20,
                'max': 80
            }
        });

        $("#drag-fixed").noUiSlider({
            start: [40, 60],
            behaviour: 'drag-fixed',
            connect: true,
            range: {
                'min': 20,
                'max': 80
            }
        });
    </script>
}