@model APP.Areas.Affectation.Models.AllViewsModel
@using DAL;
@using System.Diagnostics

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Ajouter un type de carburant</h3>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @using (Html.BeginForm("Ajouter", "TypeCarburants", new { area = "Affectation" }, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @*<label class="col-sm-4 control-label">ID</label>*@

                                    <div class="col-sm-8">
                                        <input type="hidden" id="IdTypeCarb" name="IdTypeCarb" class="form-control" placeholder="ID">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Libellé</label>

                                    <div class="col-sm-8">
                                        <input type="text" id="LibelleTypeCarb" name="LibelleTypeCarb" class="form-control" placeholder="Libellé">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button class="btn btn-white" type="reset">Annuler </button>
                                    <button class="btn btn-primary" type="submit">Ajouter </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Liste des types de carburant</h3>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("ID")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Libellé")
                                        </th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.typeCarburant.OrderByDescending(x => x.IdTypeCarb))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdTypeCarb)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LibelleTypeCarb)
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group">
                                                    <a class="btn btn-white btn-bitbucket" data-toggle="modal" data-target="#e-@Html.DisplayFor(modelItem => item.IdTypeCarb)">
                                                        Modifier
                                                    </a>
                                                    <a class="btn btn-white btn-bitbucket" data-toggle="modal" data-target="#dl-@Html.DisplayFor(modelItem => item.IdTypeCarb)">
                                                        Détail
                                                    </a>
                                                    @{
                                                        if (@item.Supprimer == false)
                                                        {
                                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/TypeCarburants/Etat/@item.IdTypeCarb">
                                                                Supprimer
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-white btn-bitbucket" href="/Affectation/TypeCarburants/Etat/@item.IdTypeCarb">
                                                                Restaurer
                                                            </a>
                                                        }
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Debug.Assert(Model.typeCarburant != null, "Model.typeCarburant != null");
    foreach (var tmp in Model.typeCarburant)
    {
        <div class="modal inmodal fade" id="e-@tmp.IdTypeCarb" tabindex="@tmp.IdTypeCarb" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Modifier un type de carburant</h4>
                    </div>
                    @using (Html.BeginForm("Editer", "TypeCarburants", new { area = "Affectation" }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">ID</label>

                                <div class="col-sm-8">
                                    <input type="text" id="IdTypeCarb" name="IdTypeCarb" class="form-control" value="@tmp.IdTypeCarb">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Libellé</label>

                                <div class="col-sm-8">
                                    <input type="text" id="LibelleTypeCarb" name="LibelleTypeCarb" class="form-control" value="@tmp.LibelleTypeCarb">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary" value="Modifier">Modifier</button>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal inmodal fade" id="dl-@tmp.IdTypeCarb" tabindex="@tmp.IdTypeCarb" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Détail d'un type carburant</h4>
                    </div>
                    <form class="form-horizontal" action="/TypeCarburants/Editer" method="post">
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">ID</label>

                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="IdTypeCarb" name="IdTypeCarb" class="form-control" value="@tmp.IdTypeCarb">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Libellé</label>

                                    <div class="col-sm-8">
                                        <input type="text" disabled="" id="LibelleTypeCarb" name="LibelleTypeCarb" class="form-control" value="@tmp.LibelleTypeCarb">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal inmodal fade" id="de-@tmp.IdTypeCarb" tabindex="@tmp.IdTypeCarb" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Supprimer un type de Carburant</h4>
                    </div>
                    @Html.HiddenFor(model => model.carburant)
                    <div class="modal-body">
                        <h3>Supprimer?</h3>
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName("ID")
                                </dt>

                                <dd>
                                    @tmp.IdTypeCarb
                                </dd>
                                <dt>
                                    @Html.DisplayName("Libellé")
                                </dt>

                                <dd>
                                    @tmp.LibelleTypeCarb
                                </dd>
                            </dl>
                        </div>
                        @using (Html.BeginForm("Delete", "TypeCarburants", new { id = tmp.IdTypeCarb }, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary" value="Ajouter">Supprimer</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}


@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    @Scripts.Render("~/plugins/iCheck")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/footable")

    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form").validate({
                rules: {
                    LibelleTypeCarb: {
                        required: true,
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();


        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio: 1.618,
                preview: ".img-preview",
                done: function (data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function () {
                    var fileReader = new FileReader(),
                        files = this.files,
                        file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function () {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function () {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function () {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function () {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function () {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function () {
                $image.cropper("setDragMode", "crop");
            });

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#data_2 .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            var elem = document.querySelector('.js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });

            var elem_2 = document.querySelector('.js-switch_2');
            var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

            var elem_3 = document.querySelector('.js-switch_3');
            var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });

            var elem_4 = document.querySelector('.js-switch_4');
            var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });
            switchery_4.disable();

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.demo1').colorpicker();

            var divStyle = $('.back-change')[0].style;
            $('#demo_apidemo').colorpicker({
                color: divStyle.backgroundColor
            }).on('changeColor', function (ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });

            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'DD/MM/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '31/12/2015',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });


            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });

            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });

            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });


        });


        $('.chosen-select').chosen({ width: "100%" });

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });

        $(".dial").knob();

        $("#basic_slider").noUiSlider({
            start: 40,
            behaviour: 'tap',
            connect: 'upper',
            range: {
                'min': 20,
                'max': 80
            }
        });

        $("#range_slider").noUiSlider({
            start: [40, 60],
            behaviour: 'drag',
            connect: true,
            range: {
                'min': 20,
                'max': 80
            }
        });

        $("#drag-fixed").noUiSlider({
            start: [40, 60],
            behaviour: 'drag-fixed',
            connect: true,
            range: {
                'min': 20,
                'max': 80
            }
        });
    </script>
}}
